<h1>LISTADO PAISES</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th>Foto</th>
    </tr>
    <tr *ngFor="let entidad of this.listadoPaises">
        <td>{{entidad.name}}</td>
        <td>{{entidad.capital}}</td>
        <td>{{entidad.population}}</td>
        <td><img src={{entidad.flag}} width="50px"></td>
        <input type="button" value="Borrar">
        <input type="button" value="Detalle" (click)="detalle(entidad)">
    </tr>
</table>
