<h1>LISTADO ACTORES</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Sexo</th>
        <th>PaisOrigen</th>
        <th>Foto</th>
    </tr>
    <tr *ngFor="let entidad of this.listadoActores">
        <td>{{entidad.nombre}}</td>
        <td>{{entidad.apellido}}</td>
        <td>{{entidad.sexo}}</td>
        <td>{{entidad.paisOrigen.name}}</td>
        <td><img src="../../../assets/imagenes/defectoActor.png" width="50px"></td>
        <input type="button" value="Detalle" (click)="detalle(entidad)">
    </tr>
</table>