<div class="container">
    <h2>¡BIENVENIDO!</h2>
    <nav>
        <ul>
            <li><a routerLink="/paises/listado">Listado Paises</a></li>
            <li><a routerLink="/peliculas/listado">Listado Peliculas</a></li>
            <li><a routerLink="/peliculas/alta">Alta Peliculas</a></li>
            <li><a routerLink="/actor/alta">Alta Actor</a></li>
            <li><a routerLink="/actor/listado">Listado Actor</a></li>
            <li><a routerLink="/busqueda">Busqueda</a></li>
        </ul>
    </nav>
</div>
